*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
}

body{
    background-image: url('images/Background/hutaoo.jpg');
    background-position: center;
    background-size: cover;
}

.bio{
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 2px;
    margin: 10px;
}
.bio h2{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px;
    margin: 20px;
    border-radius: 20px;
    text-align: center;
    color: white;
}

.bio p{
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
}

.skills{
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 2px;
    margin: 10px;
    color: white;
}

.skills h2{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    padding: 5px;
    margin: 10px;
}

.skills li{
    list-style-type: none;
    text-align: center;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 14px;
    padding: 8px;
    margin: 5px;    
}

.skills ul li span{
    text-decoration: none;
}

header{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    color: white;
    font-family: sans-serif;
    text-align: center;
    padding: 20px;
    margin: 0;
}

.navigasi nav ul{
    list-style: none;
    padding: 0;
}

.navigasi nav ul li{
    display: inline;
    margin: 0 15px;
}

.navigasi nav ul li a{
    color: white;
    text-decoration: none;
}
.navigasi1 nav ul{
    list-style: none;
    padding: 12px;
}

.navigasi1 nav ul li{
    display: inline-grid;
    margin: 0 15px;
}

.navigasi1 nav ul li a{
    color: white;
    text-decoration: none;
    text-align: left;
}

.icon img{
    display: flex;
    align-items: center;
    width: auto;
    height: 60px;
    margin: 0 auto;
    padding: 5px;
}

.profile{
    display: flex;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
}

.profile-pic{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #fffcfc;
    margin: 0 auto;
}

.contact {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    color: white;
}

.contact h2{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

.contact p{
    padding: 10px;
    margin: 10px;
    text-align: center;
}

footer{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: auto;
    text-align: center;
    color: white;
}

footer p{
    padding: 20px;
}

footer img{
    align-items: center;
    height: 60px;
    width: auto;
    padding: 1px;
    margin: 0;
    border-radius: 100px;
}